<html>
<body>
	<h1>Create new Restaurant</h1>
	<form action ="/fileupload" method="post" enctype="multipart/form-data">
		<table>
		  <tr>
			<td>Restaurant ID:</td> <td><input type="text" name = "rid"></td>
		  </tr>
		  <tr>
			<td>Restaurant Name:</td> <td><input type="text" name="name" required></td>
		  </tr>
		  <tr>
			<td>Borough:</td> <td><input type="text" name="borough"></td> 
		  </tr>
		  <tr>
			<td>Cuisine:</td> <td><input type="text" name="cuisine"></td>
		  </tr>
		  <tr>
			<td>Address:</td> 
		  </tr>
		  <tr>
			<td>Building:</td> <td><input type="text" name="building"></td>
		  </tr>
		  <tr>
			<td>Longtitude:</td> <td><input type="text" name="lon"></td>
		  </tr>
		  <tr>
			<td>Attitude:</td> <td><input type="text" name="att"></td>
		  </tr>
		  <tr>
			<td>Street:</td> <td><input type="text" name="street"></td>
		  </tr>
		  <tr>
			<td>Zipcode:</td> <td><input type="text" name="zipcode"></td>
		  </tr>
		  <tr>
			<td>Grades:</td> 
		  </tr>
		  <tr>
			<td>Score:</td> 
			<td>
			<select name="score">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
			</select>

			</td>
		  </tr>
		  <tr>
			<td>File:</td> <td><input type="file" name="filetoupload"><br></td>
		  </tr>	  
		  <tr>
			<td><input type="submit" value="Submit"></td>
		  </tr>

	</table>
	</form>
</body>
</html>
