<html>
<body>
	<h1>Create new Restaurant</h1>
	<form action ="/create" method="post">
		<table>
		  <tr>
			<td>Restaurant ID:</td> <td><input type="text" name = "rid"></td>
		  </tr>
		  <tr>
			<td>Restaurant Name:</td> <td><input type="text" name="name" required></td>
		  </tr>
		  <tr>
			<td>Borough:</td> <td><input type="text" name="borough"></td> 
		  </tr>
		  <tr>
			<td>Cuisine:</td> <td><input type="text" name="cuisine"></td>
		  </tr>
		  <tr>
			<td>Address:</td> 
		  </tr>
		  <tr>
			<td>Building:</td> <td><input type="text" name="building"></td>
		  </tr>
		  <tr>
			<td>Longtitude:</td> <td><input type="text" name="lon"></td>
		  </tr>
		  <tr>
			<td>Attitude:</td> <td><input type="text" name="att"></td>
		  </tr>
		  <tr>
			<td>Street:</td> <td><input type="text" name="street"></td>
		  </tr>
		  <tr>
			<td>Zipcode:</td> <td><input type="text" name="zipcode"></td>
		  </tr>
		  <tr>
			<td>Grades:</td> 
		  </tr>
		  <tr>
			<td>Score:</td> <td><input type="text" name="score"></td>
		  </tr>
		  <tr>
			<td><input type="submit" value="Submit"></td>
		  </tr>

	</table>
	</form>
</body>
</html>
