<html><head><title>Registry</title></head> 
<body>

<h1>Registry</h1>


<form method="post" action="/reg">

  <p>
    <label>Username:</label>
    <input type="text" name="username">
  </p>

  <p>
    <label>Password:</label>
    <input type="password" name="password">
  </p>

  <p>
    <label>Confirm Password:</label>
    <input type="password" name="repassword">
  </p>
  
  <p>
    <input type="submit" value="Registry">
  </p>

</form>


</body>
</html> 