<html><head><title>Restaurant</title></head> 
<body>

<h1>Restaurant</h1>

<H2>Showing <%=r.length%> document(s)</H2>
<table>

      <% for (var i = 0; i < r.length; i++) { %>
        <tr>
          <td><a href=/voteto?_id=<%=r[i]._id%>><%=r[i].name%>
					</a></td>
        </tr>
      <% } %>
 </table> 



</body>
</html> 